* {
    background-color: lightgray;
    font-family: sans-serif;
}

/* .hide {
    opacity: 0.5;
} */

.play-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 150px;
}

.card {
    border: 1px solid black;
    border-radius: .4rem;
    text-align: center;
    font-size: 3rem;
}